{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
  <div class="container mt-5">
    <div class="row mt-5">
      <div class="col-sm-12 col-md-6 offset-md-3 mt-5 border p-3 rounded shadow-sm">
        <h1 class="text-center">{% trans "Sign Out" %}</h1>

        <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>

        <form method="post" action="{% url 'account_logout' %}" class="allauth-form-inner-content">
          {% csrf_token %}
          {{ form|crispy }}
          {% if redirect_field_value %}
          <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
          {% endif %}
          <button type="submit" class="btn btn-danger w-100">{% trans 'Sign Out' %}</button>
        </form>

      </div>
    </div>
  </div>
</div>
{% endblock %}