{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Set Password" %}{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-sm-12 col-md-6 offset-md-3 mt-5 border p-3 rounded shadow-sm">
                <h1 class="text-center">{% trans "Set Password" %}</h1>

                <form method="POST" action="{% url 'account_set_password' %}"
                    class="password_set allauth-form-inner-content">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" name="action" class="btn btn-info w-100"value="{% trans 'Set Password' %}" />
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}