{% extends "base.html" %}

{% load i18n %}
{% load crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="container-fluid mt-5">
    <div class="container mt-5">
        <div class="row mt-5">
            <div class="col-sm-12 col-md-6 offset-md-3 mt-5 border p-3 rounded shadow-sm">
                <h1 class="text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                {% if token_fail %}
                {% url 'account_reset_password' as passwd_reset_url %}
                <p class="text-center">{% blocktrans %}The password reset link was invalid, possibly because it has already been used.
                    Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                <form method="POST" action="{{ action_url }}" class="allauth-form-inner-content">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <input type="submit" name="action" class="btn btn-danger w-100"value="{% trans 'change password' %}" />
                </form>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}