.card {
    border-radius: 6% !important;
    overflow: hidden;
}

.card:hover {
    box-shadow: 2px 2px 15px;
    width: 101%;
    height: 101%;
    transition: all 0.3s ease-in-out
}

.day {
    width: 14.285%;
    height: 125px;
    border: 1px solid black;
}

.fa-circle-check {
    font-size: 45px;
    color: var(--ocean-green);
    position: absolute;
    opacity: .5;
    transform: translateX(-50%);
}